/* GLOBAL */
* {
    box-sizing: border-box;
}

/* OUTLINE-STYLES */
*:focus {
    outline: 2px dashed #5267df;
    outline-offset: 3px;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1144px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE-HEADER */
.site-header {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    width: 150px;
    height: 25px;
    margin-right: auto;
    transition: opacity 0.4s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
}

.site-header__logo:active {
    opacity: 0.6;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #242a45;
    transition: color 0.4s ease, 
        opacity 0.4s ease;
}

.sitenav__link:hover {
    color: #fa5959;
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__button {
    border: 0;
    text-transform: uppercase;
    padding: 10px 32px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    background-color: #fa5959;
    color: #fff;
    border: 2px solid #FA5959;
    cursor: pointer;
    transition: background-color 0.4s ease, 
        color 0.4s ease,
        opacity 0.4s ease;
}

.site-header__button:hover {
    background-color: transparent;
    color: #fa5959;
}

.site-header__button:active {
    background-color: #fa5959;
    color: #fff;
    opacity: 0.6;
}

.site-header__button:focus {
    outline-color: #fa5959;
}


/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}


/* HERO */
.hero {
    background-color: #fff;
    padding-top: 50px;
}

.hero__container {
    display: flex;
    align-items: center;
}

.hero__content {
    width: 540px;
    margin-right: 50px;
}

.hero__title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: #242a45;
}

.hero__text {
    width: 540px;
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    opacity: 0.5;
    color: #242a45;
}

.hero__link {
    display: inline-flex;
    padding: 8px 22px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.25px;
    color: #fff;
    background-color: #5267df;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    border: 2px solid #5267DF;
    transition: background-color 0.4s ease,
        color 0.4s ease,
        opacity 0.4s ease;
}

.hero__link:hover {
    background-color: transparent;
    color: #5267df;
}

.hero__link:active {
    background-color: #5267df;
    color: #fff;
    opacity: 0.6;
}

.hero__link:not(:last-child) {
    margin-right: 16px;
}

.hero__link--grey {
    background-color: #f7f7f7;
    color: #242a45;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border: 2px solid #F7F7F7;
    transition: background-color 0.4s ease,
        border-color 0.4s ease;
}

.hero__link--grey:hover {
    background-color: #fff;
    border-color: #5b6074;
    color: #242a45;
}

.hero__link--grey:active {
    background-color: #f7f7f7;
    border-color: #F7F7F7;
    color: #242a45;
}

.hero__link--grey:focus {
    outline-color: #5b6074;
}