/* GLOBAL */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Rubik", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1144px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* SITE-HEADER */
.site-header {
    background-color: #fff;
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
}

.site-header__logo {
    width: 150px;
    height: 25px;
    margin-right: auto;
    transition: opacity 0.4s ease;
}

.site-header__logo:hover {
    opacity: 0.8;
}

.site-header__logo:active {
    opacity: 0.6;
}

.sitenav__list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 48px;
    list-style: none;
}

.sitenav__item:not(:last-child) {
    margin-right: 44px;
}

.sitenav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: #242a45;
    transition: color 0.4s ease, 
        opacity 0.4s ease;
}

.sitenav__link:hover {
    color: #fa5959;
}

.sitenav__link:active {
    opacity: 0.6;
}

.site-header__button {
    border: 0;
    text-transform: uppercase;
    padding: 10px 32px;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    border-radius: 5px;
    background-color: #fa5959;
    color: #fff;
    border: 2px solid #FA5959;
    cursor: pointer;
    transition: background-color 0.4s ease, 
        color 0.4s ease,
        opacity 0.4s ease;
}

.site-header__button:hover {
    background-color: transparent;
    color: #fa5959;
}

.site-header__button:active {
    background-color: #fa5959;
    color: #fff;
    opacity: 0.6;
}